@import "tailwindcss";

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden;
}

#game-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  overflow: hidden;
}

#game-container canvas {
  width: 100vw !important;
  height: 100vh !important;
  display: block;
}
